<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>91</integer>
    <key>angleVariance</key>
    <integer>180</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <real>0.46</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <integer>0</integer>
    <key>finishColorRed</key>
    <integer>0</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>64</integer>
    <key>finishParticleSizeVariance</key>
    <integer>32</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>1991</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>1.34</real>
    <key>particleLifespanVariance</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>140</integer>
    <key>radialAcceleration</key>
    <integer>-614</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>-624</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>-956</integer>
    <key>rotationStartVariance</key>
    <integer>433</integer>
    <key>sourcePositionVariancex</key>
    <integer>85</integer>
    <key>sourcePositionVariancey</key>
    <integer>85</integer>
    <key>sourcePositionx</key>
    <real>897.7132486388384</real>
    <key>sourcePositiony</key>
    <real>474.3375680580762</real>
    <key>speed</key>
    <integer>600</integer>
    <key>speedVariance</key>
    <integer>5</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <real>0.69</real>
    <key>startColorRed</key>
    <real>0.44</real>
    <key>startColorVarianceAlpha</key>
    <real>0.1</real>
    <key>startColorVarianceBlue</key>
    <real>0.2</real>
    <key>startColorVarianceGreen</key>
    <real>0.1</real>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>71</integer>
    <key>startParticleSizeVariance</key>
    <integer>166</integer>
    <key>tangentialAccelVariance</key>
    <integer>600</integer>
    <key>tangentialAcceleration</key>
    <integer>333</integer>
    <key>spriteFrameUuid</key>
    <string>ad65b707-98cb-47ce-abbd-e45c62e44150</string>
  </dict>
</plist>