@import url("css/element-ui.css");
@font-face {
  font-family: element-icons;
  src: url(fonts/element-icons.woff?t=1472440741) format('woff'), url(fonts/element-icons.ttf?t=1472440741) format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
[v-cloak] {
  display: none;
}
.container .list {
  width: 70%;
  margin: 0 auto 12px;
}
.header {
  width: 100%;
  line-height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #8bbfa663;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.test {
  width: 450px;
  height: 150px ;
  border: 1px solid springgreen;
}
.t {
  width: 400px;
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
}
.preview {
  width: 640px;
  height: 360px;
  border: 1px solid #000;
  margin: 8px auto;
  position: fixed;
  top: 185px;
  right: 17%;
  z-index: 10;
}
.preview .bgImage {
  position: absolute;
  height: 100%;
  width: 100%;
}
.preview .quitButton {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
}
.preview .questionBar {
  position: absolute;
  left: 70px;
  top: 0px;
  width: 390px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview .questionBar .Image {
  position: absolute;
  width: 390px;
  height: 70px;
}
.preview .questionBar .titleText {
  position: absolute;
  width: 333px;
  line-height: 18px;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 14px;
}
.preview .questionNumberBg {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 96px;
  height: 66px;
}
.preview .a101 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 304px;
  height: 66px;
  left: 12px;
  bottom: 80px;
}
.preview .a101 img {
  width: 304px;
  height: 66px;
}
.preview .a102 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 304px;
  height: 66px;
  right: 12px;
  bottom: 80px;
}
.preview .a102 img {
  width: 304px;
  height: 66px;
}
.preview .a103 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 304px;
  height: 66px;
  left: 12px;
  bottom: 11px;
}
.preview .a103 img {
  width: 304px;
  height: 66px;
}
.preview .a104 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 304px;
  height: 66px;
  right: 12px;
  bottom: 11px;
}
.preview .a104 img {
  width: 304px;
  height: 66px;
}
.preview .a203 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 304px;
  height: 66px;
  left: 168px;
  bottom: 11px;
}
.preview .a203 img {
  width: 304px;
  height: 66px;
}
.preview .a301 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 304px;
  height: 136px;
  left: 12px;
  bottom: 11px;
}
.preview .a301 img {
  width: 304px;
  height: 136px;
}
.preview .a302 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 304px;
  height: 136px;
  right: 12px;
  bottom: 11px;
}
.preview .a302 img {
  width: 304px;
  height: 136px;
}
.preview .a401 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 136px;
  left: 12px;
  bottom: 11px;
}
.preview .a401 img {
  width: 200px;
  height: 136px;
}
.preview .a402 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 136px;
  left: 220px;
  bottom: 11px;
}
.preview .a402 img {
  width: 200px;
  height: 136px;
}
.preview .a403 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 136px;
  right: 12px;
  bottom: 11px;
}
.preview .a403 img {
  width: 200px;
  height: 136px;
}
.preview .a501 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 146px;
  height: 136px;
  left: 12px;
  bottom: 11px;
}
.preview .a501 img {
  width: 146px;
  height: 136px;
}
.preview .a502 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 146px;
  height: 136px;
  left: 170px;
  bottom: 11px;
}
.preview .a502 img {
  width: 146px;
  height: 136px;
}
.preview .a503 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 146px;
  height: 136px;
  left: 325px;
  bottom: 11px;
}
.preview .a504 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 146px;
  height: 136px;
  right: 12px;
  bottom: 11px;
}
.preview .a504 img {
  width: 146px;
  height: 136px;
}
.buttonImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.itemImage {
  position: absolute;
  scale: 0.33;
  z-index: 1;
}
.buttonLable {
  position: absolute;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  font-size: 14px;
  width: 87%;
  height: 65%;
  z-index: 2;
}
.randomSelect .group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
.randomSelect .group .el-radio.is-bordered + .el-radio.is-bordered {
  margin-left: 0px;
}
.randomSelect .group .el-radio {
  margin-right: 0px;
  width: 50%;
}
.left {
  width: 100px;
}
.right {
  width: 100px;
}
.add-btn {
  /* padding: 12px 0px; */
  /* box-sizing: border-box; */
  margin: 12px 0;
}
.item {
  display: flex;
  align-items: center;
  margin-top: 3px;
  height: 30px;
}
.item el-select {
  float: right;
}
.button {
  width: 520px;
  background-color: #f3efef;
  border: 1px solid #e5e912;
}
.button .feedbackbg {
  background-color: #e4ffc1;
  box-shadow: 3px 3px 1px #808080;
  margin: 10px 10px;
  height: 60px;
  border-radius: 10px;
}
.button .bg {
  background-color: #e4ffc1;
  box-shadow: 3px 3px 1px #808080;
  margin: 10px 10px;
  height: 100px;
  border-radius: 10px;
}
.button .content {
  margin: 10px 10px;
}
.button .content .my-el-select {
  width: 150px;
  /* selecte 框的高度设置，默认是 40px*/
  /* 下面设置右侧按钮居中 */
}
.button .content .my-el-select .el-input__inner {
  height: 30px;
}
.button .content .my-el-select .el-input__suffix {
  top: 5px;
}
.button .content .my-el-select .el-input__icon {
  line-height: inherit;
}
.button .content .my-el-select .el-input__suffix-inner {
  display: inline-block;
}
.item .tips {
  width: 320px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  float: left;
}
.itemText {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}
.myinputText {
  width: 350px;
}
.myinputText .el-input__inner {
  height: 30px;
}
.myButtonInputText {
  width: 300px;
}
.myButtonInputText .el-input__inner {
  height: 30px;
}
.titleSet {
  display: flex;
  margin-top: 5px;
}
.titleSet .el-color-picker__trigger {
  height: 30px;
  width: 70px;
}
.titleSet .el-color-picker__icon {
  display: none;
}
.layout {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.layout .loadRes {
  display: flex;
  width: 22%;
}
.item .tips audio {
  width: 320px;
  height: 34px;
  outline: none;
}
.inlineItem {
  display: block;
  align-items: center;
  margin-top: 3px;
}
.inlineItem .target {
  width: 320px;
  height: 30px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  line-height: 30px;
}
.myinput,
.el-input-number {
  line-height: 27px;
  width: 100px;
}
.myinput .el-input__inner,
.el-input-number .el-input__inner {
  height: 27px;
}
.myinput .el-input-number__decrease,
.el-input-number .el-input-number__decrease,
.myinput .el-input-number__increase,
.el-input-number .el-input-number__increase {
  height: 12.5px !important;
  line-height: 14px !important;
  width: 19px;
}
.my-el-select {
  width: 200px;
  /* selecte 框的高度设置，默认是 40px*/
  /* 下面设置右侧按钮居中 */
}
.my-el-select .el-input__inner {
  height: 30px;
}
.my-el-select .el-input__suffix {
  top: 5px;
}
.my-el-select .el-input__icon {
  line-height: inherit;
}
.my-el-select .el-input__suffix-inner {
  display: inline-block;
}
.el-popper[x-placement^=bottom] {
  margin-top: 7px;
}
.el-tabs__content {
  position: relative;
  height: 75vh;
  overflow-y: auto;
}
.audioList {
  display: flex;
  margin-top: 3px;
}
.bg-img .el-upload-dragger {
  width: 96px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-img .el-upload-dragger img {
  width: 96px;
  height: 54px;
}
.dialog .dialogUpProgress {
  display: flex;
  justify-content: center;
  height: 200px;
}
.dialog .progress .detal {
  display: flex;
  justify-content: space-between;
}
.el-notification,
.right {
  width: 300px;
  height: 150px;
}
/* transition组件动画 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
