<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M001Maker</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./global.css">
    <link rel="stylesheet" type="text/css" href="./css/asset.css">
</head>

<body style="overflow: hidden;">
    <div id="app" class="main" v-cloak>
        <div class="header">
            <h1>M001Maker</h1>
            <div>
                <el-button size="small" @click="debug" type="primary">Debug</el-button>
                <el-button size="small" @click="exportConfig" type="primary">导出</el-button>
                <el-button size="small" @click="preview" type="primary">预览</el-button>
            </div>
        </div>
        <div id="priview" v-show="editableTabsValue!='0' && isVisible" class="preview">
            <img class='bgImage' v-if="previewData.BaseConfig.BgSetting.centerRes" :src="previewData.BaseConfig.BgSetting.centerRes">
            <img class='quitButton' v-if="previewData.OtherList.Btn_quit" :src="previewData.OtherList.Btn_quit">
            <div class='questionBar'>
                <img class='Image' v-if="previewData.OtherList.QuestionBarImage" :src="previewData.OtherList.QuestionBarImage">
                <p class='titleText' v-color="titleColor" v-if="currentQuestion.questionContent">{{currentQuestion.questionContent}}</p>
            </div>
            <img class='questionNumberBg' v-if="previewData.OtherList.QuestionNumBgRes" :src="previewData.OtherList.QuestionNumBgRes">
            <div v-if="editableTabsValue > 1">
                <div v-if="currentQuestion.layoutID%5==0">
                    <div class="a101">
                        <img class="buttonImage" v-if="previewData.OtherList.Button[0]" :src="previewData.OtherList.Button[0]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[0] && currentPriview.select_Fixed[0].image" :src="currentPriview.select_Fixed[0].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[0]">{{currentQuestion.select_Fixed[0].label}}</p>
                    </div>
                    <div class="a102">
                        <img class="buttonImage" v-if="previewData.OtherList.Button[0]" :src="previewData.OtherList.Button[0]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[1] && currentPriview.select_Fixed[1].image" :src="currentPriview.select_Fixed[1].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[1]">{{currentQuestion.select_Fixed[1].label}}</p>
                    </div>
                    <div class="a103">
                        <img class="buttonImage" v-if="previewData.OtherList.Button[0]" :src="previewData.OtherList.Button[0]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[2] && currentPriview.select_Fixed[2].image" :src="currentPriview.select_Fixed[2].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[2]">{{currentQuestion.select_Fixed[2].label}}</p>
                    </div>
                    <div class="a104">
                        <img class="buttonImage" v-if="previewData.OtherList.Button[0]" :src="previewData.OtherList.Button[0]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[3] && currentPriview.select_Fixed[3].image" :src="currentPriview.select_Fixed[3].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[3]">{{currentQuestion.select_Fixed[3].label}}</p>
                    </div>
                </div>
                <div v-if="currentQuestion.layoutID%5==1">
                    <div class='a101'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[1]" :src="previewData.OtherList.Button[1]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[0] && currentPriview.select_Fixed[0].image" :src="currentPriview.select_Fixed[0].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[0]">{{currentQuestion.select_Fixed[0].label}}</p>
                    </div>
                    <div class='a102'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[1]" :src="previewData.OtherList.Button[1]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[1] && currentPriview.select_Fixed[1].image" :src="currentPriview.select_Fixed[1].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[1]">{{currentQuestion.select_Fixed[1].label}}</p>
                    </div>
                    <div class='a203'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[1]" :src="previewData.OtherList.Button[1]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[2] && currentPriview.select_Fixed[2].image" :src="currentPriview.select_Fixed[2].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[2]">{{currentQuestion.select_Fixed[2].label}}</p>
                    </div>
                </div>
                <div v-if="currentQuestion.layoutID%5==2">
                    <div class='a301'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[2]" :src="previewData.OtherList.Button[2]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[0] && currentPriview.select_Fixed[0].image" :src="currentPriview.select_Fixed[0].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[0]">{{currentQuestion.select_Fixed[0].label}}</p>
                    </div>
                    <div class='a302'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[2]" :src="previewData.OtherList.Button[2]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[1] && currentPriview.select_Fixed[1].image" :src="currentPriview.select_Fixed[1].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[1]">{{currentQuestion.select_Fixed[1].label}}</p>
                    </div>
                </div>
                <div v-if="currentQuestion.layoutID%5==3">
                    <div class='a401'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[3]" :src="previewData.OtherList.Button[3]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[0] && currentPriview.select_Fixed[0].image" :src="currentPriview.select_Fixed[0].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[0]">{{currentQuestion.select_Fixed[0].label}}</p>
                    </div>
                    <div class='a402'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[3]" :src="previewData.OtherList.Button[3]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[1] && currentPriview.select_Fixed[1].image" :src="currentPriview.select_Fixed[1].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[1]">{{currentQuestion.select_Fixed[1].label}}</p>
                    </div>
                    <div class='a403'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[3]" :src="previewData.OtherList.Button[3]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[2] && currentPriview.select_Fixed[2].image" :src="currentPriview.select_Fixed[2].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[2]">{{currentQuestion.select_Fixed[2].label}}</p>
                    </div>
                </div>
                <div v-if="currentQuestion.layoutID%5==4">
                    <div class='a501'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[4]" :src="previewData.OtherList.Button[4]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[0] && currentPriview.select_Fixed[0].image" :src="currentPriview.select_Fixed[0].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[0]">{{currentQuestion.select_Fixed[0].label}}</p>
                    </div>
                    <div class='a502'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[4]" :src="previewData.OtherList.Button[4]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[1] && currentPriview.select_Fixed[1].image" :src="currentPriview.select_Fixed[1].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[1]">{{currentQuestion.select_Fixed[1].label}}</p>
                    </div>
                    <div class='a503'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[4]" :src="previewData.OtherList.Button[4]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[2] && currentPriview.select_Fixed[2].image" :src="currentPriview.select_Fixed[2].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[2]">{{currentQuestion.select_Fixed[2].label}}</p>
                    </div>
                    <div class='a504'>
                        <img class="buttonImage" v-if="previewData.OtherList.Button[4]" :src="previewData.OtherList.Button[4]">
                        <img class='itemImage' v-if="currentPriview.select_Fixed[3] && currentPriview.select_Fixed[3].image" :src="currentPriview.select_Fixed[3].image">
                        <p class="buttonLable" v-if="currentQuestion.select_Fixed[3]">{{currentQuestion.select_Fixed[3].label}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainbody">
            <div class="left">
                <el-row class="tac">
                    <el-col :span="12">
                        <el-menu ref="menu" default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @select="loadHistory" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                            <el-menu-item index="1">
                                <span class="mdi mdi-new-box" style="font-size:18px"></span> {{loadDeskID}}
                            </el-menu-item>
                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="mdi mdi-history" style="font-size:20px"></i>
                                    <span>历史记录</span>
                                </template>
                                <el-menu-item v-for="(item,index) in History" :key="index" :index="'2'+'-'+index">
                                    <span class="mdi mdi-cloud-print-outline" style="font-size:20px"></span> {{item.deskID}}
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </div>
            <div v-if="true " class="right ">
                <div class="list ">
                    <el-button class="add-btn " size="small " @click="addTab ">
                        添加题库
                    </el-button>
                    <el-button v-if="editableTabsValue> 1" class="add-btn" size="small" @click="removeTab"> 删除当前题库
                    </el-button>
                    <el-tabs v-model="editableTabsValue" type="card" @tab-click="changTabs" :before-leave="switchTabs">
                        <el-tab-pane v-for="(item, index) in editableTabs" :key="item.name" :label="item.title" :name="item.name">
                            <transition name="el-fade-in-linear" @after-leave="pageHidden">
                                <div v-show="showPage">
                                    <asset ref="asset" v-if="index==0" :delete_event='assetDbDelete' :onchange="handlePreview" :game="makerInfo.gameName"></asset>
                                    <div v-else-if="index==1">
                                        <my-select-list :data="bgList" :file="fileList" :selectcallback="selectResult"></my-select-list>
                                        <div v-if="config.BaseConfig.BgSetting.spineRes">
                                            <div class="item">
                                                <span class="tips">背景动画播放时长:</span>
                                                <el-input-number class="myinput" v-model="config.BaseConfig.BgSetting.run" controls-position="right" @change="inputResult($event,'BaseConfig.BgSetting.run')" :precision="2" :step="0.01" :min="0" :max="999"></el-input-number>
                                            </div>
                                            <div class="item">
                                                <span class="tips">背景动画停止时长:</span>
                                                <el-input-number class="myinput" v-model="config.BaseConfig.BgSetting.idle" controls-position="right" @change="inputResult($event,'BaseConfig.BgSetting.idle')" :precision="2" :step="0.01" :min="0" :max="999"></el-input-number>
                                            </div>
                                        </div>
                                        <my-select-list :data="uiList" :file="fileList" :selectcallback="selectResult"></my-select-list>
                                        <div class="inlineItem">
                                            <div v-for="(element,key) in config.OtherList.Button" :key="key" class="audioList">
                                                <span class="target">布局A{{key+1}}|B{{key+1}}使用的按钮图:</span>
                                                <el-select class="my-el-select" v-model="Button[key]" filterable placeholder="请选择" @change="selectResult($event,'image','OtherList.Button',key)" clearable>
                                                    <el-option v-for="citem in fileList.image" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <span class="tips">正确提示动画方案:</span>
                                            <el-select class="my-el-select" v-model="config.BaseConfig.Anim_TipRightPlane" filterable placeholder="请选择" @change="selectResult($event,'bool','BaseConfig.Anim_TipRightPlane')">
                                                <el-option v-for="citem in rightTipPlane" :key="citem.key" :label="citem.name" :value="citem.key">
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <el-collapse-transition>
                                            <div class="item" v-if="config.BaseConfig.Anim_TipRightPlane==1">
                                                <span class="tips">正确提示动画资源:</span>
                                                <el-select class="my-el-select" v-model="item.value" filterable placeholder="请选择" @change="selectResult($event,'particle','BaseConfig.Anim_TipRightRes')" clearable>
                                                    <el-option v-for="citem in fileList.particle" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="item" v-else-if="config.BaseConfig.Anim_TipRightPlane==2">
                                                <span class="tips">正确提示动画资源:</span>
                                                <el-select class="my-el-select" v-model="item.value" filterable placeholder="请选择" @change="selectResult($event,'spine','BaseConfig.Anim_TipRightRes')" clearable>
                                                    <el-option v-for="citem in fileList.spine" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </el-collapse-transition>
                                        <el-collapse-transition>
                                            <div class="inlineItem" v-if="config.BaseConfig.Anim_TipRightPlane==0">
                                                <div v-for="(element,key) in config.OtherList.ButtonFlash" :key="key" class="audioList">
                                                    <span class="target">布局A{{key+1}}|B{{key+1}}使用的闪烁图:</span>
                                                    <el-select class="my-el-select" v-model="ButtonFlash[key]" filterable placeholder="请选择" @change="selectResult($event,'image','OtherList.ButtonFlash',key)" clearable>
                                                        <el-option v-for="citem in fileList.image" :key="citem" :label="citem" :value="citem">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                        </el-collapse-transition>
                                        <div class="item">
                                            <span class="tips">目标引导动画方案:</span>
                                            <div>
                                                <el-tooltip placement="top" effect="light">
                                                    <div slot="content">方案为闪烁时请配置正确提示<br/>动画方案为闪烁并选择闪烁文件</div>
                                                    <el-select class="my-el-select" v-model="config.OtherList.animTargetGuidePlane" filterable placeholder="请选择" @change="selectResult($event,'bool','OtherList.animTargetGuidePlane')">
                                                        <el-option v-for="citem in rightTipPlane" :key="citem.key" :label="citem.name" :value="citem.key">
                                                        </el-option>
                                                    </el-select>
                                                </el-tooltip>
                                            </div>
                                        </div>
                                        <el-collapse-transition>
                                            <div class="item" v-if="config.OtherList.animTargetGuidePlane==1">
                                                <span class="tips">目标引导动画资源:</span>
                                                <el-select class="my-el-select" v-model="item.value" filterable placeholder="请选择" @change="selectResult($event,'particle','OtherList.AnimTargetGuideRes')" clearable>
                                                    <el-option v-for="citem in fileList.particle" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="item" v-else-if="config.OtherList.animTargetGuidePlane==2">
                                                <span class="tips">目标引导动画资源:</span>
                                                <el-select class="my-el-select" v-model="item.value" filterable placeholder="请选择" @change="selectResult($event,'spine','OtherList.AnimTargetGuideRes')" clearable>
                                                    <el-option v-for="citem in fileList.spine" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </el-collapse-transition>
                                        <div class="item">
                                            <span class="tips">剧情动画:</span>
                                            <el-switch v-model="config.BaseConfig.Anim_polt.isEnable" active-color="#13ce66" inactive-color="#808080" active-text="有" inactive-text="无">
                                            </el-switch>
                                        </div>
                                        <my-switch-list :open="config.BaseConfig.Anim_polt.isEnable" :data="plotAnimSwitchList" :selectcallback="selectResult"></my-switch-list>
                                        <my-select-list :open="config.BaseConfig.Anim_polt.isEnable" :data="plotAnimList" :file="fileList" :selectcallback="selectResult"></my-select-list>
                                        <div class="item">
                                            <span class="tips">引导动画:</span>
                                            <el-switch v-model="config.BaseConfig.Anim_Guide.isEnable" active-color="#13ce66" inactive-color="#808080" active-text="有" inactive-text="无">
                                            </el-switch>
                                        </div>
                                        <my-switch-list :open="config.BaseConfig.Anim_Guide.isEnable" :data="guideSwitchList" :selectcallback="selectResult"></my-switch-list>
                                        <el-collapse-transition>
                                            <div class="inlineItem" v-if="config.BaseConfig.Anim_Guide.isEnable">
                                                <div class="item">
                                                    <div class="tips">引导动画资源:</div>
                                                    <el-select class="my-el-select" v-model="MainDataBase.showData.OtherList.spine.guideAnim.src" filterable placeholder="请选择" @change="selectResult($event,'spine','OtherList.spine.guideAnim.src')">
                                                        <el-option v-for="citem in fileList.spine" :key="citem" :label="citem" :value="citem">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="item">
                                                    <span class="tips">引导动画配音资源数量:</span>
                                                    <el-input-number class="myinput" v-model="MainDataBase.showData.BaseConfig.Anim_Guide.src.length" controls-position="right" :min="1" :max="9"></el-input-number>
                                                </div>
                                                <div v-for="(element,key) in MainDataBase.showData.BaseConfig.Anim_Guide.src" :key="key" class="audioList">
                                                    <span class="target">步骤{{key+1}}使用的配音:</span>
                                                    <el-select class="my-el-select" v-model="MainDataBase.showData.BaseConfig.Anim_Guide.src[key]" filterable placeholder="请选择" @change="selectResult($event,'sound','BaseConfig.Anim_Guide.src',key)">
                                                        <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                        </el-collapse-transition>
                                        <my-switch-list :data="manualSwitchList" :selectcallback="selectResult"></my-switch-list>
                                        <my-inputnumber-list :data=outTimeinputList :selectcallback="inputResult"></my-inputnumber-list>
                                        <my-select-list :data="selectEffectList" :file="fileList" :selectcallback="selectResult"></my-select-list>
                                        <my-switch-list :data="openStepAnimSwitch" :selectcallback="selectResult"></my-switch-list>
                                        <my-switch-list v-if="config.BaseConfig.Select_Right.playRewardAnim" :data="stepAnimSwitchList" :selectcallback="selectResult "></my-switch-list>
                                        <my-switch-list :data="openLevelPassAnimSwitch" :selectcallback="selectResult"></my-switch-list>
                                        <my-switch-list :open="config.BaseConfig.Anim_LevelPass.isEnable" :data="levelPassAnimList" :selectcallback="selectResult "></my-switch-list>
                                        <my-switch-list :data="openEveryLevelAnimSwitch" :selectcallback="selectResult"></my-switch-list>
                                        <my-switch-list :open="config.BaseConfig.Anim_EveryQuestion.isEnable" :data="everyLevelAnimSwitchList" :selectcallback="selectResult "></my-switch-list>
                                        <my-switch-list :data="openSumupAnimSwitch" :selectcallback="selectResult"></my-switch-list>
                                        <my-select-list :open="config.BaseConfig.Anim_Sumup" :data="sumupAnimList" :file="fileList" :selectcallback="selectResult"></my-select-list>
                                        <div class="button" v-if="MainDataBase">
                                            <p style="width: 520px;text-align: center;border-bottom: 1px solid #000;" class="itemText">主反馈动画设置</p>
                                            <div class="item">
                                                <span class="tips" style="font-size: 14px; font-weight: 600;">反馈动画资源:</span>
                                                <el-select class="my-el-select" v-model="MainDataBase.showData.OtherList.spine.feedBackAnim.src" filterable placeholder="请选择" @change="selectResult($event,'spine','OtherList.spine.feedBackAnim.src')">
                                                    <el-option v-for="citem in fileList.spine" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <el-collapse-transition>
                                                <div v-if="MainDataBase.showData.OtherList.spine.feedBackAnim.src">
                                                    <div class="item">
                                                        <span class="tips" style="font-size: 14px; font-weight: 600;">init动作反馈配音资源:</span>
                                                        <el-select class="my-el-select" v-model="MainDataBase.showData.OtherList.spine.feedBackAnim.anim[2].voice" filterable placeholder="请选择" @change="selectResult($event,'sound','OtherList.spine.feedBackAnim.anim.2.voice')" clearable>
                                                            <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                    <div class="item">
                                                        <span class="tips" style="font-size: 14px; font-weight: 600;">idle动作反馈配音资源:</span>
                                                        <el-select class="my-el-select" v-model="MainDataBase.showData.OtherList.spine.feedBackAnim.anim[1].voice" filterable placeholder="请选择" @change="selectResult($event,'sound','OtherList.spine.feedBackAnim.anim.1.voice')" clearable>
                                                            <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                    <div class="item">
                                                        <span class="tips" style="font-size: 14px; font-weight: 600;">finish动作反馈配音资源:</span>
                                                        <el-select class="my-el-select" v-model="MainDataBase.showData.OtherList.spine.feedBackAnim.anim[0].voice" filterable placeholder="请选择" @change="selectResult($event,'sound','OtherList.spine.feedBackAnim.anim.0.voice')" clearable>
                                                            <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                            </el-option>
                                                        </el-select>
                                                    </div>
                                                </div>
                                            </el-collapse-transition>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div style="display: flex;">
                                            <span class="itemText" style="line-height: 28px;">布局:</span>
                                            <el-radio-group v-model="layOutText" size="mini">
                                                <el-radio-button v-for="element in layOut" :key='element.key' :label="element.name"></el-radio-button>
                                            </el-radio-group>
                                        </div>
                                        <div class="titleSet">
                                            <span class="itemText" style="line-height:30px;">题目:</span>
                                            <el-input class="myinputText" v-model="currentQuestion.questionContent" placeholder="请输入内容"></el-input>
                                            <div style="display: flex;width: 112px;justify-content: end;">
                                                <span style="line-height:30px;">颜色:</span>
                                                <el-color-picker style="height: 30px;" v-model="titleColor"></el-color-picker>
                                            </div>
                                        </div>
                                        <my-switch-list :question="currentQuestion" :data="scrreenShoot" :selectcallback="selectResultByQuestion"></my-switch-list>
                                        <my-select-list :question="questionCache" :data="questionVoice" :file="fileList" :selectcallback="selectResultByQuestion"></my-select-list>
                                        <el-collapse-transition>
                                            <div v-if="currentQuestion.voiceTargetGuide.res">
                                                <div style="display: flex;margin-top: 3px;" v-for='(element,key,index) in currentQuestion.selectGuide' :key=index>
                                                    <span class="itemText" style="width: 190px;">选项{{key+1}}目标引导时间</span>
                                                    <span class="itemText">开始时间:</span>
                                                    <el-input-number class="myinput" v-model="currentQuestion.selectGuide[key].start" controls-position="right" :step="0.01" :precision="2" :min="0" :max="999"></el-input-number>
                                                    <span class="itemText" style="margin-left: 10px;">终止时间:</span>
                                                    <el-input-number class="myinput" v-model="currentQuestion.selectGuide[key].end" controls-position="right" :step="0.01" :precision="2" :min="0" :max="999"></el-input-number>
                                                </div>
                                            </div>
                                        </el-collapse-transition>
                                        <div class="item">
                                            <span class="tips">重复本题次数:</span>
                                            <el-input-number class="myinput" v-model="currentQuestion.repeatThisQuesNum" controls-position="right" :min="1" :max="999"></el-input-number>
                                        </div>
                                        <div class="inlineItem">
                                            <div class="item">
                                                <span class="tips">选择正确音效资源数量:</span>
                                                <el-input-number class="myinput" v-model="rightEffSize" controls-position="right" :min="0" :max="3"></el-input-number>
                                            </div>
                                            <div v-for="(element,key) in currentQuestion.voiceAnwserRight" :key="key" class="audioList">
                                                <span class="target">正确音效{{key+1}}:</span>
                                                <el-select class="my-el-select" v-model="questionCache.voiceAnwserRight[key]" filterable placeholder="请选择" @change="selectResultByQuestion($event,'sound','voiceAnwserRight',key)">
                                                    <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>
                                        <div class="inlineItem">
                                            <div class="item">
                                                <span class="tips">选择错误音效资源数量:</span>
                                                <el-input-number class="myinput" v-model="wrongEffSize" controls-position="right" :min="0" :max="3"></el-input-number>
                                            </div>
                                            <div v-for="(element,key) in currentQuestion.voiceAnwserWrong" :key="key" class="audioList">
                                                <span class="target">错误音效{{key+1}}:</span>
                                                <el-select class="my-el-select" v-model="questionCache.voiceAnwserWrong[key]" filterable placeholder="请选择" @change="selectResultByQuestion($event,'sound','voiceAnwserWrong',key)">
                                                    <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>
                                        <p style="width: 520px;text-align: center;" class="itemText">反馈动画设置:</p>
                                        <div class="button">
                                            <div class="feedbackbg" v-for="item in feedBackInQuestion">
                                                <div style="margin: 10px 10px;">
                                                    <p class="itemText">{{item.key}}:</p>
                                                    <div class="titleSet" style="margin-top: 0px ; display: flex; justify-content: space-between;align-items: center;">
                                                        <span class="itemText">动作名:<el-input class="myButtonInputText" style="width: 150px;" v-model="currentQuestion.feedBackAnim[item.objectKey].anim" placeholder="请输入内容"></el-input></span>
                                                        <span class="itemText">
                                                            动画配音:
                                                            <el-select class="my-el-select" v-model="questionCache.feedBackAnim[item.objectKey].voice" filterable placeholder="请选择" @change="selectResultByQuestion($event,'sound','feedBackAnim.'+item.objectKey+'.voice')">
                                                                <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                                </el-option>
                                                            </el-select>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <span class="tips">选项配置方案:</span>
                                            <el-switch v-model="setPlane" active-color="#808080" inactive-color="#808080" active-text="随机" inactive-text="固定">
                                            </el-switch>
                                        </div>
                                        <div class="button">
                                            <div v-if="setPlane">
                                                <div class="randomSelect">
                                                    <el-radio-group class="group" v-model="questionCache.selectDataBaseType">
                                                        <el-radio label="0" border>正确选项库|数量:{{rightBaseSize}}</el-radio>
                                                        <el-radio label="1" border>错误选项库|数量:{{wrongBaseSize}}</el-radio>
                                                    </el-radio-group>
                                                </div>
                                                <div v-if="questionCache.selectDataBaseType==0">
                                                    <div class="item" style="display: flex; justify-content: space-between;">
                                                        <span class="tips">正确选项库数量:</span>
                                                        <el-input-number class="myinput" v-model="rightBaseSize" controls-position="right" :min="0" :max="999"></el-input-number>
                                                    </div>
                                                    <div class="bg" v-for="(element,key) in currentQuestion.radom_Fixed.right" :key="key" v-state="element">
                                                        <div class="content">
                                                            <p class="itemText">选项{{key+1}}:</p>
                                                            <div class="titleSet" style="margin-top: 0px;display: flex; align-items: center; justify-content: space-between;">
                                                                <span class="itemText">选项文字:<el-input class="myButtonInputText" v-model="currentQuestion.radom_Fixed.right[key].label" placeholder="请输入内容"></el-input></span>
                                                            </div>
                                                            <div style="margin-top: 5px;display: flex; align-items: center; justify-content: space-between;">
                                                                <span style="font-size: 14px; font-weight: 600;">
                                                                    选项图片:
                                                                    <el-select class="my-el-select" v-model="questionCache.radom_Fixed.right[key].image" filterable placeholder="请选择" @change="selectResultByQuestion($event,'image','radom_Fixed.right.'+key+'.image')" clearable>
                                                                        <el-option v-for="citem in fileList.image" :key="citem" :label="citem" :value="citem">
                                                                        </el-option>
                                                                    </el-select>
                                                                </span>
                                                                <span style="font-size: 14px; font-weight: 600;">
                                                                    选项配音:
                                                                    <el-select class="my-el-select" v-model="questionCache.radom_Fixed.right[key].sound" filterable placeholder="请选择" @change="selectResultByQuestion($event,'sound','radom_Fixed.right.'+key+'.sound')" clearable>
                                                                        <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                                        </el-option>
                                                                    </el-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-else-if="questionCache.selectDataBaseType==1">
                                                    <div class="item" style="display: flex; justify-content: space-between;">
                                                        <span class="tips">错误选项库数量:</span>
                                                        <el-input-number class="myinput" v-model="wrongBaseSize" controls-position="right" :min="0" :max="999"></el-input-number>
                                                    </div>
                                                    <div class="bg" v-for="(element,key) in currentQuestion.radom_Fixed.wrong" :key="key" v-state="element">
                                                        <div class="content">
                                                            <p class="itemText">选项{{key+1}}:</p>
                                                            <div class="titleSet" style="margin-top: 0px;display: flex; align-items: center; justify-content: space-between;">
                                                                <span class="itemText">选项文字:<el-input class="myButtonInputText" v-model="currentQuestion.radom_Fixed.wrong[key].label" placeholder="请输入内容"></el-input></span>
                                                            </div>
                                                            <div style="margin-top: 5px;display: flex; align-items: center; justify-content: space-between;">
                                                                <span style="font-size: 14px; font-weight: 600;">
                                                                    选项图片:
                                                                    <el-select class="my-el-select" v-model="questionCache.radom_Fixed.wrong[key].image" filterable placeholder="请选择" @change="selectResultByQuestion($event,'image','radom_Fixed.wrong.'+key+'.image')" clearable>
                                                                        <el-option v-for="citem in fileList.image" :key="citem" :label="citem" :value="citem">
                                                                        </el-option>
                                                                    </el-select>
                                                                </span>
                                                                <span style="font-size: 14px; font-weight: 600;">
                                                                    选项配音:
                                                                    <el-select class="my-el-select" v-model="questionCache.radom_Fixed.wrong[key].sound" filterable placeholder="请选择" @change="selectResultByQuestion($event,'sound','radom_Fixed.wrong.'+key+'.sound')" clearable>
                                                                        <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                                        </el-option>
                                                                    </el-select>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else>
                                                <div class="bg" v-for="(element,key) in currentQuestion.select_Fixed" :key="key" v-state="element">
                                                    <div class="content">
                                                        <p class="itemText">选项{{key+1}}:</p>
                                                        <div class="titleSet" style="margin-top: 0px;display: flex; align-items: center; justify-content: space-between;">
                                                            <span class="itemText">选项文字:<el-input class="myButtonInputText" v-model="currentQuestion.select_Fixed[key].label" placeholder="请输入内容"></el-input></span>
                                                            <el-switch v-model="currentQuestion.select_Fixed[key].isRight" active-color='#13ce66' inactive-color="#ff4949" active-text="正确" inactive-text="错误" @change="selectResultByQuestion($event,'bool','select_Fixed.'+key+'.isRight')">
                                                            </el-switch>
                                                        </div>
                                                        <div style="margin-top: 5px;display: flex; align-items: center; justify-content: space-between;">
                                                            <span style="font-size: 14px; font-weight: 600;">
                                                                选项图片:
                                                                <el-select class="my-el-select" v-model="questionCache.select_Fixed[key].image" filterable placeholder="请选择" @change="selectResultByQuestion($event,'image','select_Fixed.'+key+'.image')" clearable>
                                                                    <el-option v-for="citem in fileList.image" :key="citem" :label="citem" :value="citem">
                                                                    </el-option>
                                                                </el-select>
                                                            </span>
                                                            <span style="font-size: 14px; font-weight: 600;">
                                                                选项配音:
                                                                <el-select class="my-el-select" v-model="questionCache.select_Fixed[key].sound" filterable placeholder="请选择" @change="selectResultByQuestion($event,'sound','select_Fixed.'+key+'.sound')" clearable>
                                                                    <el-option v-for="citem in fileList.sound" :key="citem" :label="citem" :value="citem">
                                                                    </el-option>
                                                                </el-select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </transition>
                        </el-tab-pane>
                    </el-tabs>
                </div>
                <el-dialog class="dialog" :title="dialogData?dialogData.title:''" :close-on-click-modal="false" @close="abortUpload" width="600px" :visible.sync="centerDialogVisible" width="30% " center>
                    <div v-if="dialogType==1">
                        <div class="progress">
                            <div class="detal">
                                <p>当前文件:</p>
                                <p>{{current.filename}}</p>
                            </div>
                            <el-progress :text-inside="true" :stroke-width="16" :percentage="current.progress"></el-progress>
                        </div>
                        <div class="progress">
                            <div class="detal">
                                <p>总文件:</p>
                                <p>{{total.count}}</p>
                            </div>
                            <el-progress :text-inside="true" :stroke-width="16" :percentage="total.progress"></el-progress>
                        </div>
                        <div class="load">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                            <div class="dot3"></div>
                            <div class="dot4"></div>
                            <div class="dot5"></div>
                        </div>
                    </div>
                    <div v-else-if="dialogType==0" class="login">
                        <div class="load">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                            <div class="dot3"></div>
                            <div class="dot4"></div>
                            <div class="dot5"></div>
                            <p>{{login.str}}</p>
                        </div>
                    </div>
                    <div v-else-if="dialogType==2" class="download">
                        <div class="progress">
                            <div class="detal">
                                <p>下载中:</p>
                                <p>{{total.count}}</p>
                            </div>
                            <el-progress :status="progresState" :text-inside="true" :stroke-width="16" :percentage="total.progress"></el-progress>
                        </div>
                        <div class="load">
                            <div class="dot1"></div>
                            <div class="dot2"></div>
                            <div class="dot3"></div>
                            <div class="dot4"></div>
                            <div class="dot5"></div>
                        </div>
                    </div>
                    <div v-else-if="dialogType==3" class="tip">
                        <div>
                            <div class="left">
                                <i v-if="dialogData.content.icon == 2" class="mdi mdi-comment-question-outline"></i>
                                <i v-else-if="dialogData.content.icon == 1" class="mdi mdi-information-outline"></i>
                                <i v-else-if="dialogData.content.icon == 0" class="mdi mdi-cancel"></i>
                            </div>
                            <div class="right">
                                <p class="str">{{dialogData.content.body}}</p>
                            </div>
                        </div>
                    </div>
                    <span v-if='dialogType==3' slot="footer" class="dialog-footer">
                        <el-button  v-if="dialogData.buttonType==1||dialogData.buttonType==2" type="primary" plain @click="dialog_MB_OK">确定</el-button>
                        <el-button  v-if="dialogData.buttonType==2||dialogData.buttonType==3" type="primary" plain @click="dialog_MB_NO">取消</el-button>
                    </span>
                    <span v-else slot="footer" class="dialog-footer">
                        <el-button v-if="dialogType != 0 " @click="abortUpload">终止</el-button>
                        <el-button v-if="dialogType == 1" :disabled="pre" @click="loadPriview">预览</el-button>
                    </span>
                </el-dialog>
            </div>
        </div>
        <div class="copyright">
            <span class="mdi mdi-timer">
                2021 
                <span class="mdi mdi-gamepad-square-outline">
                    M001
                    <span class="mdi mdi-alpha-p-circle-outline">
                        M001 Maker
                    </span>
            </span>
            </span>
        </div>

    </div>
    <!-- 引入 主库 -->
    <script src="./js/utils/vue.js "></script>
    <script src="./js/utils/element-ui.js "></script>
    <script src="./js/utils/spine.js"></script>
    <script src="./js/utils/axios.js"></script>
    <script src="./js/utils/Utils.js "></script>
    <!-- 引入组件库 -->
    <script src="./js/component/assetComponent.js "></script>
    <script src="./js/component/InputNumberList.js "></script>
    <script src="./js/component/SelectList.js "></script>
    <script src="./js/component/SwitchList.js "></script>
    <script src="./js/component/Loading.js"></script>
    <script src="./js/component/DialogData.js"></script>
    <script src="./js/component/CurrentData.js"></script>
    <script src="./js/component/ReadHistory.js"></script>
    <script src="./js/component/Http.js"></script>
    <script src="./js/component/upload.js "></script>
    <!-- 引入 配置 -->
    <script src="./js/config/Config.js "></script>
    <script src="./js/config/User.js"></script>
    <script src="./js/config/MakerList.js"></script>
    <!-- 引入 入口 -->
    <script src="./js/AppData.js"></script>
    <script src="./js/index.js "></script>
</body>

</html>